<div id='slider' class='swipe'>
    <div class='swipe-wrap'>
        <div>
            <a class="box w-100 h-66" href="#/article/1">
                <div class="img-cont" style="background-image: url(http://lorempixel.com/760/400);"></div>
                <p>abcabcabc</p>
            </a>

            <a class="box w-33 h-33" href="#/article/2">
                <div class="img-cont" style="background-image: url(http://lorempixel.com/200/200/city);"></div>
                <p>abcabcabc</p>
            </a>

            <a class="box w-33 h-33" href="#/article/3">
                <div class="img-cont" style="background-image: url(http://lorempixel.com/200/200/cats);"></div>
                <p>abcabcabc</p>
            </a>
            <a class="box w-33 h-33" href="#/article/4">
                <div class="img-cont" style="background-image: url(http://lorempixel.com/200/200);" alt="image"></div>
                <p>abcabcabc</p>
            </a>

        </div>
        <div>

            <a class="box w-33 h-33" href="#/article/5">
                <div class="img-cont" style="background-image: url(http://lorempixel.com/200/200/sports);"></div>
                <p>abcabcabc</p>
            </a>

            <a class="box w-33 h-33" href="#/article/6">
                <div class="img-cont" style="background-image: url(http://lorempixel.com/200/200/nature);"></div>
                <p>abcabcabc</p>
            </a>
            <a class="box w-33 h-33" href="#/article/7">
                <div class="img-cont" style="background-image: url(http://lorempixel.com/200/200/transport);"
                     alt="image"></div>
                <p>abcabcabc</p>
            </a>

            <a class="box w-100 h-66" href="#/article/8">
                <div class="img-cont" style="background-image: url(http://lorempixel.com/760/400/city);"></div>
                <p>abcabcabc</p>
            </a>

        </div>
        <div>

            <a class="box w-100 h-66"  href="#/article/9">
                <div class="img-cont" style="background-image: url(http://lorempixel.com/760/400/fashion);"></div>
                <p>abcabcabc</p>
            </a>

            <a class="box w-33 h-33"  href="#/article/10">
                <div class="img-cont" style="background-image: url(http://lorempixel.com/200/200/fashion);"></div>
                <p>abcabcabc</p>
            </a>

            <a class="box w-33 h-33"  href="#/article/11">
                <div class="img-cont" style="background-image: url(http://lorempixel.com/200/200/technics);"></div>
                <p>abcabcabc</p>
            </a>
            <a class="box w-33 h-33"  href="#/article/12">
                <div class="img-cont" style="background-image: url(http://lorempixel.com/200/200/people);"
                     alt="image"></div>
                <p>abcabcabc</p>
            </a>

            <div class="box w-50 h-100 end-indicator">
                END
            </div>
        </div>
    </div>
</div>