<header class="main-title">
    <% if(bBack && window.navigator.standalone){ %> <a class="popView" href="#">Back</a> <% }%>
    <h1>Tablet {Prototype 3}</h1>
</header>
<div class="inner">

    <section class="main-content">
        <%= mainContent %>
    </section>
    <aside class="ad-aside">
        <div class="w-100 h-100 vert-ads">
            <div class="img-cont" style="background-image: url(http://lorempixel.com/320/520);"></div>
        </div>
        <div class="w-100 h-100 hori-ads">
            <div class="img-cont" style="background-image: url(http://lorempixel.com/768/300);"></div>
        </div>
    </aside>

</div>